<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title PRAC
        link(rel="stylesheet", href="/assets/styles.css")
    body

        header.header 
            ul.menus
                li.menus__item
                    a(href="/") home
                li.menus__item
                    a(href="/signup") signup
                li.menus__item
                    a(href="/signin") signin
                li.menus__item
                    a(href="/logout") logout
                li.menus__item
                    a(href="/board/list") board
                

        block content

        footer.footer footer