extends ../layouts/base.pug

block content
    section.wholeWrapper
        section.XX__left
        section.rsWrapper rswrapper
            .rsWrapper__box1 
            .rsWrapper__box2 
            .rsWrapper__box3 
            .rsWrapper__box4 
            .rsWrapper__box5 
                .rsWrapper__box5__col1
                .rsWrapper__box5__col2
            .rsWrapper__box6 

        section.XX__right