extends ../../layouts/base.pug

block content
    section.wholeWrapper
        section.XX__left
        section.rsWrapper 
            section.writeFormSection    
                form(action="/board/write" method="post")
                    .wfBox
                        lable 제목
                        input(type="text" name="input_title" placeholder="제목을 입력하세요")
                    .wfBox
                        lable 내용
                        textarea(name="input_content")

                    input(type="submit" value="WRITE")
        section.XX__right